@page "/nominationbyuser"
@inherits NominationFormBase


<!-- Include Bootstrap CSS (You can link to it in your _Imports.razor or in your HTML file) -->
<!-- Example: <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

<h3 class="mt-4">Nomination By User</h3>


@if (ShowLoader == true)
{
     <div class="loader"></div>
}
else
{
    @if (CurrentRole == "PDM")
    {
        <!-- Your form content goes here -->
        <EditForm Model="Employee" OnValidSubmit="AddNomination">
            <div class="row">
                <div class="col-md-6">
                    <!-- Form fields go here -->
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" @bind="@Employee.Name" required />
                    </div>

                    <div class="form-group">
                        <label for="employeeId">Employee ID:</label>
                        <input type="text" class="form-control" id="employeeId" @bind="@Employee.EmployeeId" required />
                    </div>

                    <div class="form-group">
                        <label for="email">Email ID:</label>
                        <input type="email" class="form-control" id="email" @bind="@Employee.EmailId" required />
                    </div>

                    <div class="form-group">
                        <label for="projectsWorked">Number of Projects Worked:</label>
                        <input type="number" class="form-control" id="projectsWorked" @bind="@Employee.ProjectsWorked" required />
                    </div>

                    <div class="form-group">
                        <label for="technologiesWorked">Number of Technologies Worked:</label>
                        <input type="number" class="form-control" id="technologiesWorked" @bind="@Employee.TechnologiesWorked" required />
                    </div>

                    <div class="form-group">
                        <label for="outsideParticipation">Outside Participation:</label>
                        <input class="form-control" id="outsideParticipation" @bind="@Employee.OutsideParticipation" required />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="otherProjects">Other Projects:</label>
                        <input class="form-control" id="otherProjects" @bind="@Employee.OtherProjects" required />
                    </div>

                    <div class="form-group">
                        <label for="highestWorkingHours">Highest Working Hours (Week and Month):</label>
                        <input type="text" class="form-control" id="highestWorkingHours" @bind="@Employee.HighestWorkingHours" required />
                    </div>

                    <div class="form-group">
                        <label for="awardNomination">Award Nomination:</label>
                        <select class="form-control form-select" id="awardNomination" @bind="@Employee.AwardNomination" required>
                            <option value="Best Coder">Best Coder</option>
                            <option value="All Rounder">All Rounder</option>
                            <option value="Technical Master">Technical Master</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="remarks">Remarks:</label>
                        <input class="form-control" id="remarks" @bind="@Employee.Remarks" required />
                    </div>

                    <div class="form-group">
                        <label for="role">Role:</label>
                        <select class="form-control form-select" id="role" @bind="@Employee.Role" required>
                            @foreach (var role in Roles)
                            {
                                <option value="@role.Name">@role.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="reportingTo">Reporting To:</label>
                        <input type="text" class="form-control" id="reportingTo" @bind="@Employee.ReportingTo" required />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </EditForm>
    }
    else
    {
        <!-- Your page content goes here -->
        <p>You are eligible to view the page.</p>
        <!-- ... other content ... -->
    }
}
